* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  .container {
    /* display: flex; */
    position: relative;
    width: 100vw;
    height: 100vh;
    /* background-color: red; */
  }
  .header {
    display: flex;
    flex-direction: row;
  }
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* background-color: black; */
  }
  .nav-bar > .logo {
    display: flex;
    justify-self: flex-start;
  
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 20px;
  }
  
  .nav-bar > .links > a {
    text-decoration: none;
    color: black;
    margin-left: 90px;
  }
  .nav-bar iconify-icon {
    margin-left: 90px;
    display: flex;
    flex-direction: row;
  }
  
  .search {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1060px;
    top: 38px;
  }
  
  .cart-shop {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1167px;
    top: 40px;
  }
  .profile-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1274px;
    top: 38px;
  }
  .main img {
    height: 100% !important;
    width: 100%;
    display: block;
    /* background-size: contain; */
    /* overflow: hidden; */
  }
  .main {
    height: 92% !important;
  }
  

  /* Cars Page CSS */
  .cars-main{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

  }
  .car{
    

  }
  .quote {
    font-weight: bolder;
    background-color: red;
    color:white;
    font-weight: bolder;
    border-radius: 5px;
    height: 40px;
    width: 50%;
    padding: auto;
    

  }
  .reserve {
    background-color: black;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    height: 40px;
    width: 50%;
    padding: auto;


  }
  .btn {
    text-align: center;
    display: flex;
    justify-content: space-around;
    
  }
  .btn >button {
    margin: 10px;
  }


  /* Circle Buttons */
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .fa-skype {
    background: #00aff0;
    color: white;
  }
  
  .fa-android {
    background: #a4c639;
    color: white;
  }
  
  .fa-dribbble {
    background: #ea4c89;
    color: white;
  }
  
  .fa-vimeo {
    background: #45bbff;
    color: white;
  }
  
  .fa-tumblr {
    background: #2c4762;
    color: white;
  }
  
  .fa-vine {
    background: #00b489;
    color: white;
  }
  
  .fa-foursquare {
    background: #45bbff;
    color: white;
  }
  
  .fa-stumbleupon {
    background: #eb4924;
    color: white;
  }
  
  .fa-flickr {
    background: #f40083;
    color: white;
  }
  
  .fa-yahoo {
    background: #430297;
    color: white;
  }
  
  .fa-soundcloud {
    background: #ff5500;
    color: white;
  }
  
  .fa-reddit {
    background: #ff5700;
    color: white;
  }
  
  .fa-rss {
    background: #ff6600;
    color: white;