* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  .container {
    width: 100vw;
    height: 100vh;
  }
  .links{
    display: flex;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    justify-content: space-between;
    
  } 
  .link h3{
    font-size: 20px;
    font-weight: bold;
    
  }
  .link a{
    gap: 100px;
  }

  .main img {
    height: 100% !important;
    width: 100%;
    display: block;
    /* background-size: contain; */
    /* overflow: hidden; */
  }
  .main {
    height: 92% !important;
  }
  

  /* Cars Page CSS */
  .cars-main{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

  }
  .car{
    

  }
  .quote {
    font-weight: bolder;
    background-color: red;
    color:white;
    font-weight: bolder;
    border-radius: 5px;
    height: 40px;
    width: 50%;
    padding: auto;
    

  }
  .reserve {
    background-color: black;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    height: 40px;
    width: 50%;
    padding: auto;


  }
  .btn {
    text-align: center;
    display: flex;
    justify-content: space-around;
    
  }
  .btn >button {
    margin: 10px;
  }

/* Homepage */
.homepage-content-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.homepage-content-center h1,h4 {
  font-size: 36px;
}

.homepage-buttons button{

color: black;
background-color: aqua transparent;
border-radius: 10px;
padding: auto;
gap: 30px;
margin-top: 50px;
font-size: 24px;
height: 50px;
width: 200px;
}

.homepage-buttons button:hover{
background-color: red;
color: white;
}



.homepage-buttons button:active{
background-color: red;
color: white;
}




.homepage-buttons .homepage-content-center{

}
.main {
  /* background: url(/frontend/images/jeep.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
  overflow-x: auto; */
}








/* CSS Media Queries */