* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  .container {
    /* display: flex; */
    position: relative;
    width: 100vw;
    height: 100vh;
    /* background-color: red; */
  }
  .header {
    display: flex;
    flex-direction: row;
  }
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* background-color: black; */
  }
  .nav-bar > .logo {
    display: flex;
    justify-self: flex-start;
  
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 20px;
  }
  
  .nav-bar > .links > a {
    text-decoration: none;
    color: black;
    margin-left: 90px;
  }
  .nav-bar iconify-icon {
    margin-left: 90px;
    display: flex;
    flex-direction: row;
  }
  
  .search {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1060px;
    top: 38px;
  }
  
  .cart-shop {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1167px;
    top: 40px;
  }
  .profile-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1274px;
    top: 38px;
  }
  .main img {
    height: 100% !important;
    width: 100%;
    display: block;
    /* background-size: contain; */
    /* overflow: hidden; */
  }
  .main {
    height: 92% !important;
  }
  

  /* Cars Page CSS */
  .cars-main{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

  }
  .car{
    

  }
  .quote {
    font-weight: bolder;
    background-color: red;
    color:white;
    font-weight: bolder;
    border-radius: 5px;
    height: 40px;
    width: 50%;
    padding: auto;
    

  }
  .reserve {
    background-color: black;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    height: 40px;
    width: 50%;
    padding: auto;


  }
  .btn {
    text-align: center;
    display: flex;
    justify-content: space-around;
    
  }
  .btn >button {
    margin: 10px;
  }

/* Homepage */
.homepage-content-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.homepage-content-center h1,h4 {
  font-size: 36px;
}

.homepage-buttons button{

color: black;
background-color: aqua transparent;
border-radius: 10px;
padding: auto;
gap: 30px;
margin-top: 50px;
font-size: 24px;
height: 50px;
width: 200px;
}

.homepage-buttons button:hover{
background-color: red;
color: white;
}



.homepage-buttons button:active{
background-color: red;
color: white;
}




.homepage-buttons .homepage-content-center{

}
.main {
  /* background: url(/frontend/images/jeep.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
  overflow-x: auto; */
}